{% extends "castle/page_without_sidebar.html" %}
{%comment%}
This file is part of Ficlatté.
Copyright © 2015-2017 Paul Robertson, Jim Stitzel and Shu Sam Chen

    This program is free software: you can redistribute it and/or modify
    it under the terms of version 3 of the GNU Affero General Public
    License as published by the Free Software Foundation
    

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{%endcomment%}
{% load static %}
{% load castle_tags %}

{% block body_tag %} onload="story_len();" {% endblock %}
{% block top_script %}
{% endblock %}

    
{% block primary_panel %}
          <div class="panel panel-success" id="new-prompt">
            <div class="panel-heading"
            <h2 class="panel-title">Let&#39;s prompt</h2>
            </div>
            <div class="panel-body">
            <form accept-charset="utf-8" action="/prompts/submit/" class="form-horizontal" id="prompt-form" method="post" role="form">
              {% csrf_token %}
              <input name="prid" type="hidden" value="{{prompt.id}}" />
              <input name="pen_name" type="hidden" value="{{profile.pen_name}}" />
              <p id="play-nice"><a href="/rules/">Please play by the Ficlatt&eacute; rules</a></p>
              <p><strong>Disclaimer:</strong> Once a prompt is published, it is permanent, so please be sure it reads
                 the way you want before you publish it.</p>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="prompt_title">Title</label>
                <div class="col-sm-10">
                  <input class="form-control" id="prompt_title" maxlength="64" name="title" tabindex="2" type="text" value="{{prompt.title}}" />
                </div> <!-- id="" class="col-sm-10" -->
              </div> <!-- id="" class="form-group" -->
              <div class="form-group">
                <label class="col-sm-2 control-label" for="prompt_body">Prompt</label>
                <div class="col-sm-10">
                  <div class="field">
                    <textarea class="form-control" cols="60" data-maxlength="{{length_limit}}" data-minlength="{{length_min}}" id="text_body" name="body" onkeyup="story_len()" rows="8" tabindex="4" type="text">{{prompt.body}}</textarea>
                    <div class="pull-right">
                      <span class="counter" id="counter">{{length_limit}}</span>
                    </div> <!-- id="" class="pull-right" -->
                    <span id="minimum" style="display: block;">{{length_min}} character minimum not yet met</span>
                    <p class="help-block"><span class="glyphicon glyphicon-hand-up"></span> HTML is not supported but you can <strong>bold</strong> ( *bold* ) and <em>italicise</em> ( _italic_ ).</p>
                  </div> <!-- id="" class="field" -->
                </div> <!-- id="" class="col-sm-10" -->
              </div> <!-- id="" class="form-group" -->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label><input id="prompt-is-mature" name="is_mature" tabindex="4" type="checkbox" {% if prompt.mature %}checked {% endif %}/> Mark this prompt as mature</label>
                  </div> <!-- id="" class="checkbox" -->
                </div> <!-- id="" class="col-sm-offset-2 col-sm-10" -->
              </div> <!-- id="" class="form-group" -->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-success" id="text-submit" tabindex="6" type="submit">Publish!</button>
                </div> <!-- id="" class="col-sm-offset-2 col-sm-10" -->
              </div> <!-- id="" class="form-group" -->
            </form>
            </div>
          </div> <!-- id="new-prompt" class="well" -->
{% endblock primary_panel %}
