{% extends "castle/page_without_sidebar.html" %}
{%comment%}
This file is part of Ficlatté.
Copyright © 2015-2017 Paul Robertson, Jim Stitzel and Shu Sam Chen

    This program is free software: you can redistribute it and/or modify
    it under the terms of version 3 of the GNU Affero General Public
    License as published by the Free Software Foundation
    

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{%endcomment%}
{% load static %}
{% load castle_tags %}

{% block primary_panel %}
        <div class="panel panel-success browse">
          <div class="panel-heading prompt-summary">
            <h3 class="panel-title">{{label}}</h3>
          </div>
{% block paged_content %}
            <div class="panel-body">
              <ul class="list-group">
                {% for p in prompts %}
                <li class="list-group-item">
                    <h3 class="entry_title">{{p|prompt_link}}</h3>
                    <div class="entry_content browse-content">
                        {% if p.mature %}
                            {% if not profile.mature and p.user != profile %}
                                <p>Prompt is marked as mature</p>
                            {% else %}
                                {{p.body|big_snippet}}
                            {% endif %}
                        {% else %}
                            {{p.body|big_snippet}}
                        {% endif %}
                    </div>
                    <div class="story-foot">
                        <span class="author">{{p.user|author_span}}</span>
                        <span class="posted">Posted <abbr class="dtposted" title="{{p.ctime|date:'Y-m-d'}}">{{p.ctime|age}}</abbr></span>
                        <span class="count">{{p|num_stories_txt}}</span>
                    </span>
                </li>
                {% endfor %}
              </ul>
            </div> <!-- id="" class="panel-body" -->
{% endblock paged_content %}
{% block pager %}{{block.super}}{%endblock%}
          </div> <!-- id="" class="panel panel-success browse" -->
{% endblock primary_panel %}

