ul {
    list-style-type: none;
}

/* jumbotron */
.jumbotron {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Side panel 
div#side-panel {
    display: block;
    background-color: #ffff00;
    width: 240px;
}

ul#story-stats{
    border-bottom: 1px dotted #b39e4a;
}
*/

/* news headline */

div#news h2 a {
	font-size: 12px;
	font-style: italic;
}

div#news h3 {
	font-size: 16px;
	font-style: italic;
}

div#news ul.meta li {
	float: left;
	font-size: 11px;
	font-style: italic;
	margin-right: 10px;
}

div#tag-cloud a {
        margin-bottom: 5px;
}

p#average-rating span {
        font-size: large;
        color: #eeeeee;
}

p#average-rating span#enabled {
        color: #5cb85c;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.friends-grid-outer {
      overflow: hidden;
}
.friends-grid-box {
      width: 25%;
      padding-bottom: 25%;
      position: relative;
      float: left;
}
.friends-grid-pic {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      padding: 0px;
}

/* Author stuff */

div.col-md-4 span.byline {
	font-size: 12px;
}

span.byline {
	font-style: italic;
}

div.col-sm-10 p, div.col-md-10 p {
	font-size: 12px;
}

/* Password Reset */

.password-reset-link {
	max-width: 110px;
	margin: 0 auto;
	display: block;
}

.form-signin input[type="email"] {
	margin-bottom: 10px;
}

.form-signin input[name="new_password1"] {
	margin-bottom: 0px;
	border-radius: 4px 4px 0 0;
}

.form-signin input[name="new_password2"] {
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
}
