{% extends "castle/page_without_sidebar.html" %}
{%comment%}
This file is part of Ficlatté.
Copyright © 2015-2017 Paul Robertson, Jim Stitzel and Shu Sam Chen

    This program is free software: you can redistribute it and/or modify
    it under the terms of version 3 of the GNU Affero General Public
    License as published by the Free Software Foundation
    

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{%endcomment%}
{% load static %}
{% load castle_tags %}

{% block primary_panel %}
          <form accept-charset="utf-8" action="/authors/u/submit/" class="form-signin" method="POST" name="profile_form" role="form">
            {% csrf_token %}
            <h2 class="form-signin-heading"><span class="glyphicon glyphicon-globe"></span> {% if profile %}Update your details{% else %}Please register{% endif %}</h2>
            <h3 class="form-signin-heading">Enter your details</h3>
            <h5 class="form-signin-heading">* indicates a required field</h5>
            <div class="form-group">
              <label for="pen_name">Pen name*</label>
              <input autofocus class="form-control" id="pen_name" name="pen_name" placeholder="Pen name" required type="text" value="{{ profile.pen_name }}" />
            </div> <!-- id="" class="form-group" -->
            <div class="form-group">
              <label for="password">Password*</label>
              <input class="form-control" id="password" name="password" placeholder="Password"{% if not profile %} required{% endif %} type="password" />
            </div> <!-- id="" class="form-group" -->
            {% if profile %}
            <div class="form-group">
              <label for="new_password">new password</label>
              <input class="form-control" id="new_password" name="new_password" placeholder="New password" type="password" />
            </div> <!-- id="" class="form-group" -->
            {% endif %}
            <div class="form-group">
              <label for="password_again">Password check*</label>
              <input class="form-control" id="password_again" name="password_again" placeholder="Password check" type="password" />
            </div> <!-- id="" class="form-group" -->
            <div class="form-group">
              <label for="site_url">Site URL</label>
              <input class="form-control" id="site_url" name="site_url" placeholder="http://example.com" type="text" {% if profile.site_url %}value="{{ profile.site_url }}"{% endif %}/>
            </div> <!-- id="" class="form-group" -->
            <div class="form-group">
              <label for="site_name">Site name</label>
              <input class="form-control" id="site_name" name="site_name" placeholder="Site name" type="text" {% if profile.site_name %}value="{{ profile.site_name }}"{% endif %} />
            </div> <!-- id="" class="form-group" -->
            <div class="form-group">
              <label for="facebook_username">Facebook username</label>
              <input class="form-control" id="facebook_username" name="facebook_username" placeholder="Facebook username" type="text" {% if profile.faceboook_username %}value="{{ profile.facebook_username }}"{% endif %} />
            </div> <!-- id="" class="form-group" -->
            <div class="form-group">
              <label for="twitter_username">Twitter username</label>
              <input class="form-control" id="twitter_username" name="twitter_username" placeholder="Twitter username" type="text" {% if profile.twitter_username %}value="{{ profile.twitter_username }}"{% endif %} />
            </div> <!-- id="" class="form-group" -->
            <div class="form-group">
              <label for="wattpad_username">Wattpad username</label>
              <input class="form-control" id="wattpad_username" name="wattpad_username" placeholder="Wattpad username" type="text" {% if profile.wattpad_username %}value="{{ profile.wattpad_username }}"{% endif %} />
            </div> <!-- id="" class="form-group" -->
            <div class="form-group">
              <label for="biography">Bio*</label>
              <textarea class="form-control" id="biography" name="biography" placeholder="Biography" required rows="10">{{ profile.biography }}</textarea>
            </div> <!-- id="" class="form-group" -->
            <div class="checkbox">
              <label><input name="mature" type="checkbox" {% if profile.mature %}checked {% endif %}/>Show mature content</label>
            </div> <!-- id="" class="checkbox" -->
            <div class="form-group">
              <label for="email_addr">E-mail address*</label>
              <input class="form-control" id="email_addr" name="email_addr" placeholder="E-mail address" required type="text" value="{{ profile.email_addr }}" />
            </div> <!-- id="" class="form-group" -->
            <fieldset class="panty-group">
              <p>Subscribe to e-mail notifications:</p>
              {% for em in email_flags %}
              <div class="checkbox">
                <label><input name="ef_{{em.code}}" type="checkbox" value="1" {% if em.is_set %}checked {% endif %}/>{{ em.descr }}</label>
              </div> <!-- id="" class="checkbox" -->
            {% endfor %}
            </fieldset>
            <div class="checkbox">
              <label><input name="rules" type="checkbox" {% if profile.id %}checked {% endif %}/>I agree to the <a href="/rules/" target="_blank">Ficlatt&eacute; rules</a></label>
            </div> <!-- id="" class="checkbox" -->
            <input name="action" type="hidden" value="update profile" />
            <input name="uid" type="hidden" value="1" /><br />
            {% if not profile and not no_captcha %}
              <script src='https://www.google.com/recaptcha/api.js'></script>
              <script type="text/javascript">
                function recaptcha_callback() {
                    $('#capenable').removeAttr('disabled');
                };
              </script>
              <div class="g-recaptcha" data-sitekey="6Lf4LjsUAAAAAJTICi7mVecanM-8guxhAf-9bEB_"  data-callback="recaptcha_callback"></div><br />
              <button disabled="disabled" id="capenable" class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
            {% else %}
                <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
            {% endif %}
          </form>

          <p>If you want to change your pen name, password and/or e-mail address, also enter your current password.</p>
          <p>If you change your e-mail address, you will need to confirm it in the usual way</p>
{% endblock %}
