{% extends "castle/page_without_sidebar.html" %}
{%comment%}
This file is part of Ficlatté.
Copyright © 2015-2017 Paul Robertson, Jim Stitzel and Shu Sam Chen

    This program is free software: you can redistribute it and/or modify
    it under the terms of version 3 of the GNU Affero General Public
    License as published by the Free Software Foundation
    

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{%endcomment%}
{% load static %}
{% load castle_tags %}

{% block primary_panel %}
          <h1>{% if blog.draft %}[DRAFT] {% endif %}{{blog.title}}</h1>
          <div class="row">
            <div class="col-sm-2 col-md-2">
              {{author|avatar}}
            </div> <!-- id="" class="col-sm-2 col-md-2" -->
            <div class="col-sm-10 col-md-10">
              {{author|author_span}}
              {{author.biography|encode_story}}
            </div> <!-- id="" class="col-sm-10 col-md-10" -->
          </div> <!-- id="" class="row" -->
          <hr />
          {{blog|encode_blog}}
          <hr />
{% block paged_content %}
          <h2>Comments <small>({{blog|num_comments}} so far!)</small></h2>
          {% for comment in comments %}
          <div class="row comment-row">
            <div class="col-md-2">
              {{comment.user|avatar}}
            </div> <!-- id="" class="col-md-2" -->
            <div class="col-md-10 comment-body">
              <a name="comment-{{comment.id}}" rel="self bookmark"></a>
              {{comment.user|author_link:'h4'}}
              {{comment.body|encode_story}}
              <ul class="list-inline">
                <li class="posted">#{{comment.id}} Posted <abbr class="dtposted" title="{{comment.ctime|date:'Y-m-d'}}">{{comment.ctime|age}}</abbr></li>
                <li class="comment-like">
                    {% if profile %}{{ comment|comment_like:profile }}{% endif %} <img title="{{comment|users_liked}}" src="/static/img/coffee-mug-blue.png" height="15px"> {{ comment|num_comment_likes }}
                </li>
              </ul>
            </div> <!-- id="" class="col-md-10" -->
          </div> <!-- id="" class="row" -->
          {% endfor %}
          {% if profile %}

          <div id="comment-box">
            <h3>Everybody loves feedback</h3>
            <form action="/comment/submit/" id="comment-form" method="post" role="form">
              {% csrf_token %}
              <input id="comment_bid" name="bid" type="hidden" value="{{blog.id}}" />
              <div class="form-group">
                <div class="col-md-10">
                  <label class="control-label" for="comment_body">Leave a comment</label>
                  <textarea class="form-control" id="comment_body" maxlength="1024" name="body" rows="7"></textarea>
                </div> <!-- id="" class="col-md-10" -->
              </div> <!-- id="" class="form-group" -->
              <div class="form-group blog-submit">
                <input class="blog-submit-button" alt="Submit comment" type="submit" value="Submit" />
              </div> <!-- id="" class="form-group" -->
            </form>
          </div> <!-- id="comment-box" class="" -->
        {% endif %}

{% endblock paged_content %}
{% block pager %}{{block.super}}{%endblock%}

{% endblock primary_panel %}
