{% extends "castle/page_without_sidebar.html" %}
{%comment%}
This file is part of Ficlatté.
Copyright © 2015-2017 Paul Robertson, Jim Stitzel and Shu Sam Chen

    This program is free software: you can redistribute it and/or modify
    it under the terms of version 3 of the GNU Affero General Public
    License as published by the Free Software Foundation
    

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{%endcomment%}
{% load static %}
{% load castle_tags %}

{% block body_tag %} onload="draft_button(); story_len();" {% endblock %}
{% block top_script %}
<script type="text/javascript">
function draft_button()
{
    var draft=document.getElementById('blog-is-draft').checked;

    var button=document.getElementById('text-submit');
    
    if (draft)
    {
        button.innerHTML='Save';
    }
    else
    {
        button.innerHTML='Publish!';
    }
    return true;
}
</script>
{% endblock %}

    
{% block primary_panel %}
          <div class="panel panel-success" id="new-blog">
            <div class="panel-heading">
				<div class="panel-title">Let&#39;s blog</div>
			</div>
			<div class="panel-body">
            <form accept-charset="utf-8" action="/blog/submit/" class="form-horizontal" id="blog-form" method="post" role="form">
              {% csrf_token %}
              <input name="bid" type="hidden" value="{{blog.id}}" />
              <input name="prequel_to" type="hidden" value="{{blog.prequel_to.id}}" />
              <input name="sequel_to" type="hidden" value="{{blog.sequel_to.id}}" />
              <input name="prid" type="hidden" value="{{blog.prompt.id}}" />
              <p id="play-nice"><a href="/rules/">Please play by the Ficlatt&eacute; rules</a></p>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="blog_title">Title</label>
                <div class="col-sm-10">
                  <input class="form-control" id="blog_title" maxlength="64" name="title" tabindex="2" type="text" value="{{blog.title}}" />
                </div> <!-- id="" class="col-sm-10" -->
              </div> <!-- id="" class="form-group" -->
              <div class="form-group">
                <label class="col-sm-2 control-label" for="blog_body">Blog entry</label>
                <div class="col-sm-10">
                  <div class="field">
                    <textarea class="form-control" cols="80" data-maxlength="{{length_limit}}" data-minlength="{{length_min}}" id="text_body" name="body" onkeyup="story_len()" rows="20" tabindex="4" type="text">{{blog.body}}</textarea>
                    <div class="pull-right">
                      <span class="counter" id="counter">{{length_limit}}</span>
                    </div> <!-- id="" class="pull-right" -->
                    <span id="minimum" style="display: block;">{{length_min}} character minimum not yet met</span>
                    <p class="help-block"><span class="glyphicon glyphicon-hand-up"></span> HTML is not supported but you can <strong>bold</strong> ( *bold* ) and <em>italicise</em> ( _italic_ ).</p>
                  </div> <!-- id="" class="field" -->
                </div> <!-- id="" class="col-sm-10" -->
              </div> <!-- id="" class="form-group" -->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label><input id="blog-is-draft" name="is_draft" onclick="draft_button()" tabindex="5" type="checkbox" {% if blog.draft %}checked {% endif %}/> Save as draft</label>
                  </div> <!-- id="" class="checkbox" -->
                  <div class="checkbox">
                    <label><input id="blog-is-bbcode" name="is_bbcode" onclick="draft_button()" tabindex="6" type="checkbox" {% if blog.bbcode %}checked {% endif %}/> Use <a href="https://en.wikipedia.org/wiki/BBCode">bbcode</a></label>
                  </div> <!-- id="" class="checkbox" -->
                </div> <!-- id="" class="col-sm-offset-2 col-sm-10" -->
              </div> <!-- id="" class="form-group" -->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-success" id="text-submit" tabindex="6" type="submit">Publish!</button>
                </div> <!-- id="" class="col-sm-offset-2 col-sm-10" -->
              </div> <!-- id="" class="form-group" -->
            </form>
            </div>
          </div> <!-- id="new-blog" class="well" -->
{% endblock primary_panel %}
