{% extends "notes/notes_primary.html" %}
{% load i18n %}

{% load castle_tags %}
{% load note_tags %}

{% block notes %}
		
          <div class="panel panel-success browse">
			<div class="panel-heading">
				<h1 class="panel-title">Outbox</h1>
			</div>
			<div class="panel-body">
				<div class="list-group">
		
				{% if note_list %}
					{% for note in note_list %}
					<div class="list-group-item">
						To: {{ note.recipient }} | {{ note|note_link }} | {{ note.sent_date|age }}						
					</div>
					{% endfor %}
				{% else %}

				<p>No notes.</p>
				{% endif %}
				</div> <!-- class="list-group" -->
			</div>
		</div><!-- class="well well-sm" -->

{% endblock %}
