{% extends "castle/page_with_selected_sidebar.html" %}
{%comment%}
This file is part of Ficlatté.
Copyright © 2015-2017 Paul Robertson, Jim Stitzel and Shu Sam Chen

    This program is free software: you can redistribute it and/or modify
    it under the terms of version 3 of the GNU Affero General Public
    License as published by the Free Software Foundation
    

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{%endcomment%}
{% load staticfiles %}
{% load castle_tags %}

{% block primary_panel %}
          <h1>Dashboard</h1>

          <p>{{views}} story views in last 24 hours</p>
          <p>Total users: {{users}}</p>
          <p>active stories: {{act_stories}}</p>
          <p>published stories: {{pub_stories}}</p>
          <p>total stories (inc drafts): {{tot_stories}}</p>
          <h3>Recent log entries</h3>
          <ul>
            {% for l in log %}
            <li>{{ l.ctime|date:'Y-m-d_H:i' }}: {{ l|dashboard_entry }}</li>
            {% endfor %}
          </ul>
          <h3>Recent users</h3>
          <ul>
            {% for u in recent_users %}
              <li>{{ u.ctime|date:'Y-m-d_H:i' }}: {{ u|author_link }}{{ u|author_confirmed }}</li>
            {% endfor %}
          </ul>

{% endblock primary_panel %}
