{% extends "castle/page_with_sidebar.html" %}
{% load staticfiles %}
{% load castle_tags %}

{% block secondary_panel %}

    {% if profile %}

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">User dashboard</h3>
            </div> <!-- id="" class="panel-heading" -->
            <div class="panel-body">
              <span class="glyphicon glyphicon-user"></span>
              <a href="/authors/edit/{{profile.pen_name|url}}">Edit profile</a>
              <hr />
              <h4>Your desk</h4>
              <ul class="list-unstyled">
                <li><a href="/stories/new">Write a new story</a></li>
                <li><a href="/authors/u/drafts">Drafts</a> <span>{{profile|num_drafts}}</span></li>
              </ul>
              <h4>Your library</h4>
              <ul class="list-unstyled">
                <li><a href="/authors/{{profile.pen_name|url}}">Published stories</a> <span>{{profile|num_stories}}</span></li>
              </ul>
              <hr />
              <h4>Friends: <span>{{profile|num_friends}}</span></h4>
              <div class="row">
                {% for f in profile.friends.all %}
                <div class="col-md-3">
                  {{f|user_icon}}
                </div> <!-- id="" class="col-md-3" -->
                {% endfor %}
              </div> <!-- id="" class="row" -->
              <hr />
              <h4>Followers: <span>{{profile|num_followers}}</span></h4>
              <div class="row">
                {% for f in profile.followers.all %}
                <div class="col-md-3">
                  {{f|user_icon}}
                </div> <!-- id="" class="col-md-3" -->
                {% endfor %}
              </div> <!-- id="" class="row" -->
            </div> <!-- id="" class="panel-body" -->
          </div> <!-- id="" class="panel panel-warning" -->
    {% endif %}
{% endblock secondary_panel %}