{% extends "castle/page_without_sidebar.html" %}
{%comment%}
This file is part of Ficlatté.
Copyright © 2015-2017 Paul Robertson, Jim Stitzel and Shu Sam Chen

    This program is free software: you can redistribute it and/or modify
    it under the terms of version 3 of the GNU Affero General Public
    License as published by the Free Software Foundation
    

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{%endcomment%}
{% load static %}
{% load castle_tags %}

{% block primary_panel %}
    <h1>Ficlatt&eacute; Privacy Policy</h1>

    <p class='privacy'><strong>What personal information do we collect from you?</strong></p>

    <p class='privacy'>When registering on our site, you will be asked to enter your
        email address  or other details to help you with your experience.</p>

    <p class='privacy'><strong>When do we collect information?</strong></p>

    <p class='privacy'>We collect information from you when you register on our site or enter information on our
        site.</p>

    <p class='privacy'><strong>How do we use your information? </strong></p>

    <p class='privacy'> We may use the information we collect from you when you register in the following ways:</p>

    <p class='privacy'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To send periodic emails regarding your
        activities and subscriptions.</p>

    <p class='privacy'><strong>How do we protect your information?</strong></p>

    <p class='privacy'>Your personal information is contained behind secured networks and is only accessible by a
        limited number of persons who have special access rights to such systems, and are required to keep the
        information confidential. </p>

    <p class='privacy'>We implement a variety of security measures when a user enters, submits, or accesses their
        information to maintain the safety of your personal information.</p>

    <p class='privacy'><strong>Do we use 'cookies'?</strong></p>

    <p class='privacy'>Yes. Cookies are small files that a site or its service provider transfers to your computer's
        hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to
        recognize your browser and capture and remember certain information. They are used to help us understand your
        preferences based on previous or current site activity, which enables us to provide you with improved services.
        We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can
        offer better site experiences and tools in the future.</p>

    <p class='privacy'><strong>We use cookies to:</strong></p>

    <p class='privacy'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Save user's preferences and allow
        users access to the site's many features.</p>

    <p class='privacy'>You can choose to have your computer warn you each time a cookie is being sent, or you
        can choose to turn off all cookies. You do this through your browser settings. Since browser is a little
        different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>

    <p class='privacy'><strong>If users disable cookies in their browser:</strong></p>

    <p class='privacy'>If you turn cookies off, most of the features that affect your site experience
        will not function.</p>

    <p class='privacy'><strong>Third-party disclosure</strong></p>

    <p class='privacy'>We do not sell, trade, or otherwise transfer to outside parties your personal information.</p>

    <p class='privacy'><strong>Third-party links</strong></p>

    <p class='privacy'>We do not include or offer third-party products or services on our website.</p>

    <p class='privacy'><strong>Contacting Us</strong></p>

    <p class='privacy'>If there are any questions regarding this privacy policy, you may contact us using the
        information below.</p>

    <span class='site-address'><a href="https://ficlatte.com">https://ficlatte.com</a><br /></span>
    <span class='email-address'><a href="mailto:dev@ficlatte.com">dev@ficlatte.com</a></span>
{% endblock %}