body {
	background: transparent url("../img/001-Basik-Paper.png") repeat;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

h4 {
	font-size: 16px;
}

ul {
    list-style-type: none;
}

hr {
	border-top: 1px solid #ccc;
}

/* jumbotron */
.navbar-inverse {
	background-color: #333;
}

.container .jumbotron, .jumbotron {
    padding: 0;
    background-color: transparent;
}

.img-banner {
	background-color: transparent;
	border: none;
}

/* Side panel 
div#side-panel {
    display: block;
    background-color: #ffff00;
    width: 240px;
}

ul#story-stats{
    border-bottom: 1px dotted #b39e4a;
}
*/

/* news headline */

div#news h2 a {
	font-size: 12px;
	font-style: italic;
}

div#news h3 {
	font-size: 16px;
	font-style: italic;
}

div#news ul.meta li {
	float: left;
	font-size: 11px;
	font-style: italic;
	margin-right: 10px;
}

div#tag-cloud a {
        margin-bottom: 5px;
}

p#average-rating span {
        font-size: large;
        color: #eeeeee;
}

p#average-rating span#enabled {
        color: #5cb85c;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.friends-grid-outer {
      overflow: hidden;
}
.friends-grid-box {
      width: 25%;
      padding-bottom: 25%;
      position: relative;
      float: left;
}
.friends-grid-pic {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      padding: 0px;
}

/* Home */

.navbar-default {
	background-color: #553832;
	border: none;
	box-shadow: 5px 5px 4px #888;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ccc;
}

.blog-entry {
	margin: 0 43px;
	padding-bottom: 10px;
	float: left;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.blog-entry h3 {
	margin-top: 10px;
}

.blog-link .glyphicon {
	font-size: 14px; 
	margin-left: 5px;
}

.blog-meta {
	font-size: 11px;
}

#news {
	padding: 5px 20px 20px 20px;
}

#whats-new {
	padding: 10px 25px;
}

.well {
	background-color: #f2e2c4;
	border: none;
	box-shadow: 5px 5px 4px #888;
}

.well-sm {
	padding: 5px 20px 20px 20px;
}

.panel-success {
	border-color: #faebcc;
	box-shadow: 5px 5px 4px #888;
}

.panel-success > .panel-heading {
	background-color: #fcf8e3;
	border-color: #faebcc;
}

ul#user-activity-list {
	margin-top: 10px;
}

#latest-challenge .panel-body h3, #latest-prompt .panel-body h3 {
	margin-top: 15px;
}

.panel-warning, .panel-info {
	box-shadow: 5px 5px 4px #888;
}

/* Login Page */

.password-reset-link {
	max-width: 230px;
	margin: 0 auto;
	display: block;
}

.register-link {
	max-width: 230px;
	margin: 0 auto;
	display: block;
}

.form-signin input[type="email"] {
	margin-bottom: 10px;
}

.form-signin input[name="new_password1"] {
	margin-bottom: 0px;
	border-radius: 4px 4px 0 0;
}

.form-signin input[name="new_password2"] {
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
}

/* Story display */

span.mature-warning {
	padding: 6px;
	background-color: #ff5959;
	margin-bottom: 30px;
	border-radius: 4px;
}

div.mature-content {
	display: none;
}

.comment-row {
	margin-bottom: 10px;
}

.comment-body p {
	font-size: 16px;
}

.comment-body ul {
	font-size: 12px;
}

.tag-cloud {
	padding: 0 15px 15px 15px;
}

.challenge-winner {
	background: transparent url("../img/badge-50.png") no-repeat;
	min-height: 50px;
}

.challenge-winner h2, .challenge-winner h4, .challenge-winner .challenge-story-winner, .challenge-winner .byline {
	margin-bottom: 0;
	margin-left: 55px;
}

h1 img {
	height: 35px;
	vertical-align: top;
}

h3 img {
	height: 25px;
	vertical-align: top;
}

#user-activity-list a.story-link img, #user-wins img {
	height: 20px;
	vertical-align: top;
}

h4 img {
	height: 15px;
	vertical-align: top;
}

.challenge-winner h4 img {
	display: none;
}

h5 img {
	height: 15px;
	vertical-align: top;
}

/* Story list display */

.browse a {
	color: #75b2f1;
}

.browse .startdate, .browse .enddate {
	margin-right: 40px;
	font-size: 14px;
	font-style: italic;
}

.browse .startdate .cdate, .browse .enddate .cdate {
	color: #5aaa38;
}

.browse-content {
	color: #888;
}

.story-foot {
	font-size: 12px;
}

.story-foot .author, .story-foot .posted {
	margin-right: 20px;
}

.story-foot .author .byline {
	color: #5aaa38;
}

.story-foot .author .byline > a {
	color: #000;
}

.story-foot .posted {
	font-style: italic;
}

.story-foot .dtposted {
	color: #5aaa38;
}

.btn-danger {
	margin-bottom: 10px;
}

li#ptime, li#mtime {
	font-style: italic;
}

.dtposted {
	color: #5aaa38;
}

/* Author display */

h1.author {
	margin-top: 0;
}

.social-media-icon {
	margin: 5px 0 0 5px;
	height: 20px;
}

p#user-desc, p#user-stats, p#user-wins {
	margin-bottom: 3px;
}

div.col-md-4 span.byline {
	font-size: 14px;
}

.byline {
	font-style: italic;
}

.byline a {
	color: #5aaa38;
}

/* Resend Confirmation Email */

.email-resend-link {
	float: right;
	width: 15%;
	font-size: 12px;
	padding-right: 5px;
}

/* Prompt display */

.prompt-story-list {
	margin-bottom: 20px;
}

.prompt-story-list h4 {
	margin-bottom: 0;
}

.prompt-story-list .author .byline, .prompt-winner .byline {
	font-size: 12px;
	font-style: italic;
}

ul.prompt-comments {
	margin: 0 15px 5px 0;
	padding-bottom: 0;
	padding-left: 0;
}

li.prompt-comment {
	margin-bottom: 5px;
}

li.prompt-comment:nth-child(even) {
	margin-bottom: 15px;
	padding: 5px 10px 10px 10px;
	border-radius: 4px;
	background: #d4b78d;
	box-shadow: 5px 5px 4px #888888;
}

li.prompt-comment:nth-child(odd) {
	margin-bottom: 15px;
	padding: 5px 10px 10px 10px;
	border-radius: 4px;
	background: #e2d6c6;
	box-shadow: 5px 5px 4px #888888;
}

li.prompt-comment ul li.posted {
	font-size: 12px;
}

/* Challenge display */

.challenge-content {	
	margin: 0 5px;
	padding: 20px 0;
}

.deadline-header {
	margin-top: 0;
	font-style: italic;
}

.deadline-date {
	color: #5aaa38;
}

.challenge-buttons {
	margin-top: 15px;
	font-size: 12px;
}

.challenge-story-content {
	border-right: 1px dotted #000;
}

#challenge-link {
	margin-bottom: 10px;
}

li#startdate {
	margin-top: 15px;
}

li#startdate, li#enddate {
	font-weight: bold;
}

span.ch_after, span.ch_after:hover {
	background-color: #ccc;
	border-color: #aaa;
}

.challenge-story-list {
	margin-bottom: 20px;
}

.challenge-story-list h4 {
	margin-bottom: 0;
}

.challenge-story-list .author .byline, .challenge-winner .byline {
	font-size: 14px;
	font-style: italic;
}

button#winner-select {
	margin-bottom: 5px;
}

ul.challenge-story-winner {
	padding-left: 0;
}

ul.challenge-comments {
	margin: 0 15px 5px 0;
	padding-bottom: 0;
	padding-left: 0;
}

li.challenge-comment {
	margin-bottom: 5px;
}

li.challenge-comment:nth-child(even) {
	margin-bottom: 15px;
	padding: 5px 10px 10px 10px;
	border-radius: 4px;
	background: #d4b78d;
	box-shadow: 5px 5px 4px #888888;
}

li.challenge-comment:nth-child(odd) {
	margin-bottom: 15px;
	padding: 5px 10px 10px 10px;
	border-radius: 4px;
	background: #e2d6c6;
	box-shadow: 5px 5px 4px #888888;
}

li.challenge-comment ul li.posted {
	font-size: 12px;
}

.challenge-sidebar {
	margin-top: 70px;
}

/* Comments */

li.comment-like {
	padding: 0 15px;
}

li.comment-like img {
	vertical-align: top;
}

/* Subscriptions */

.subscribe-success, .unsubscribe-success {
	padding: 10px 10px 0 10px;
	background: #d6e9c6;
}

/* Notes */

#compose-note-link {
	width: 25%;
	max-width: 25%;
	float: left;
}

ul.notes-navigation {
	list-style-type: none;
}

ul.notes-navigation li {
	display: block;
	margin: 8px 0px 0px 30px;
	float: left;
}

.notes-actions {
	margin-top: 20px;
}

.notes-reply, .notes-delete, .notes-forward {
	margin-right: 35px;
}

.author-msg-btn {
	margin-bottom: 10px;
}

li.notes-nav {
	width: 100px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #bbb;
}

.inbox-zero {
	margin-left: 5px;
	position: absolute;
	width: 30px;
	height: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #000;
	border-radius: 3px;
}

.inbox-zero:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 7px;
	width: 0;
	height: 0;
	border-bottom: 6px solid transparent;
	border-left: 5px solid #000;
	border-top: 8px solid transparent;
}

.inbox-count {
	margin-left: 5px;
	position: absolute;
	width: 30px;
	height: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #d30000;
	border-radius: 3px;
}

.inbox-count:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 7px;
	width: 0;
	height: 0;
	border-bottom: 6px solid transparent;
	border-left: 5px solid #d30000;
	border-top: 8px solid transparent;
}

/* Blog */

.blog-post {
	padding: 10px;
}

.blog-post-meta {
	font-size: 14px;
}
